.chat-container {
  width: 90%;
  height: 75vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Scrollable chat box */
.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 2px solid red; */
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* Input area */
.input-area {
  background: white;
  border-radius: 40px;
  padding: 10px 30px;
  
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}

.input-area input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  /* border: 2px solid rgb(0, 255, 0); */
}

.input-area button {
  background: #0a5731;
  color: white;
  border: none;
  padding: 10px 26px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.input-area button:hover {
  background: #087c43;
}

