@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
/* Remove browser default margin & padding */
* {
  margin: 0;
  padding: 0;
  /* padding: ; */
  box-sizing: border-box;
   font-family: "Quintessential", serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Background */
.app-container {
  min-height: 100vh;
  width: 100vw;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* margin-top: 20px; */
  flex-direction: column;
  align-items: center;
}


/* Header */
.header {
  width: 85%;
  height: 60px;
  background: rgba(180, 255, 220, 0.8);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header h1 {
  /* font-family: "Georgia"; */
  font-size: 37px;
  color: #0a3d2e;
}

.feather {
  width: 55px;
  position: absolute;
  right: 460px;
}
.feather1 {
  width: 55px;
  position: absolute;
  left: 460px;
}

